body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centered-content {
  text-align: center; /* テキストを中央揃えにする */
}

.button {
  margin: 10px; /* ボタンの上下の間隔を調整 */
}
