body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

a {
  color: #00B7FF;
}

.centered-content {
  text-align: center; /* テキストを中央揃えにする */
}

.button {
  margin: 10px; /* ボタンの上下の間隔を調整 */
}

.login-container {
  background-color: #fff;
  width: 300px;
  margin: 0 auto; /* 左右の余白を自動調整して中央揃えにする */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* フォーム内のテキストを中央揃えにする */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0; /* 上下の間隔を開けるためにmarginを設定 */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	position: relative;
	padding: 7px 15px;
	border: 0;
	border: 1px solid #1b2538;
	background: transparent;
}
.ef ~ .focus_bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: 0.4s;
	background-color: transparent;
}
.ef:focus {
	border: 1px solid #da3c41;
}
.ef:focus ~ .focus_bg, .cp_iptxt.ef ~ .focus_bg {
	width: 100%;
	transition: 0.4s;
	background-color: rgba(218,60,65,.3);
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -18px;
	left: 0;
	transition: 0.3s;
	color: #da3c41;
}