<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% if(isAuth) { %>
  <p>cricket</p>
  <a href="/">home!</a>
  <br>
  <a href="/countup">countup!</a>
  <br>
  <a href="/zeroone">zeroone!</a>
  <br>
  <a href="/logout">logout!</a>
<% } else { %>
  <h1>Welcome to the Darts_App</h1>
  <a href="/signup">Sign up now!</a>
<% } %>
</body>
</html>